.container {
    height: 100vh;
    display: grid;
    grid-template: "cadastro info" 1fr
                    "payment info" 2fr;
    padding: 4rem 2rem;
    color: #2d3f75;
    justify-items: end;
}

.cadastro {
    grid-area: cadastro;
    width: 90%;
    font-size: 1.2rem;
}

.cadastroForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block-end: 2rem;
}

.cadastroForm label{
    margin-block-start: 1rem;
}

.cadastroForm input {
    height: 2.5rem;
    border: none;
    margin-block: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.payment {
    grid-area: payment;
    width: 80%;
    font-size: 1.3em;
}

.paymentList li span {
    font-weight: bold;
}

.info {
    grid-area: info;

    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-inline-end: 5rem;
}

.infoButton {
    width: 25rem;
    height: 4rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #4154f1;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-top: 4rem;
}

.infoButton:hover {
    background-color: #2D39A4FF;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block-start: 3rem;
}

.header strong {
    font-family: Courgette, sans-serif;
    font-size: 2rem;
    color: #2d3f75;
}

.cart {
    height: 2.7rem;
    width: 9rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #4154f1;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0 15px 30px rgb(65 84 241 / 40%);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .header strong {
        font-size: 1.2rem;
    }

    .container {
        height: 100vh;
        display: grid;
        grid-template: "cadastro" 1fr
                        "payment" 1fr
                        "info" 1fr;
        padding: 2rem 0;
        justify-items: center;
    }

    .cadastro {
        border-bottom: 6px groove #4154f1;
        margin-block-end: 1rem;
    }

    .cadastroForm {
        width: 100%;
    }

    .cadastroFormDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .payment {
        border-bottom: 6px groove #4154f1;
        margin-block-end: 1rem;
    }

    .info {
        padding: 2rem;
        margin-inline-end: 0;
    }

    .infoButton {
        width: 20rem;
        height: 4rem;
    }

    .infoContent {
        display: flex;
        flex-direction: column;
    }

    .infoContent p {
        margin-block: 0;
        text-align: justify;
    }

    .infoContent button {
        margin-block: 2rem 2rem;
    }
}

@media (min-width: 768px) and (max-width: 1800px) {
    .cadastro {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        width: 80%;
    }

    .cadastro h3 {
        display: flex;
        justify-content: center;
    }

    .cadastroForm {
        display: flex;
        justify-content: center;
    }

    .payment h3 {
        text-align: center;
    }

    .paymentContent {
        margin-inline-start: 5rem;
    }

    .info {
        margin-block-start: 5rem;
    }

    .info h3 {
        text-align: center;
    }

    .infoContent {
        text-align: center;
    }

    .infoButton {
        margin-block-start: 3rem;
    }
}
