.container {
  height: 100vh;

  background-color: #64e1f3;
  display: grid;
  grid-template: "title form" 1fr;
  padding: 2rem;
}

.title {
  grid-area: title;
}

.h1 {
  font-size: 3.5rem;
  color: #2d3f75;
}

.aulao {
  font-family: Courgette sans-serif;
}

.get {
  font-family: Patua One serif;
}

.englishImage {
  width: 30%;
}

.teste {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* margin-block-start: 8rem; */
}

.teste > h1 {
  text-align: center;
  margin-top: 7rem;
}

.form {
  grid-area: form;

  margin-block-start: 6rem;
  padding: 1rem;
}

.form > h2 {
  text-align: start;
  padding: 0 7rem;
}

@media (max-width: 600px) {
  .container {
    grid-template: "title" auto
                  "formulario" 1fr;

    width: 150vw;
    height: 150vh;
    background-color: #64e1f3;
    background-image: none;
    filter: opacity(100%);
    padding: 0;
  }

  .title {
    background-color: #1a555e;
    color: #eaeaea;
  }

  .teste {
    margin-block-start: 5rem;
  }

  #testeImg {
    width: 80%;
  }

  .teste > h1 {
    text-align: center;
    margin-block: 3rem;
    padding: 1rem;
  }

  .form {
    margin-block-start: 2rem;
  }

  .form > h2 {
    text-align: center;
    padding: 0 2rem;
  }

  .inputs {
    height: 10rem;
  }
}
