.container {
  height: 100vh;
  display: grid;
  grid-template: "title form" 1fr
                  "image form" 1fr;
  padding: 2rem;
  justify-items: end;
}

.title {
  grid-area: title;
}

.textBreak {
  margin-block-end: 3rem;
}

.h1 {
  font-size: 3.5rem;
  color: #2d3f75;
}

.aulao {
  font-family: Courgette, sans-serif;
}

.get {
  font-family: Patua One, serif;
}

.englishImage {
  width: 30%;
}

.teste {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teste > h1 {
  text-align: center;
}

.form {
  grid-area: form;
  font-family: Patua One, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  color: #2d3f75;
}

.form h1 {
  margin: 0;
}

.form h1:last-child {
  margin-block-start: 1rem;
}

.paymentButton {
  width: 25rem;
  height: 4rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #4154f1;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 15px 30px rgb(65 84 241 / 40%);
  margin-block-start: 1rem;
}

.duvida {
  margin-block: 0;
}

.paymentButton span {
  margin-inline-start: 0.5rem;
}

.paymentButton:hover {
  background-color: #2D39A4FF;
}

@media (max-width: 768px) {
  .container {
    justify-items: center;
    padding: 1rem;
    grid-template: "title" 1fr
                  "form" 1fr
                  "image" 1fr;
  }

  .h1 {

  }

  .teste {
    margin: 0;
  }

  #testeImg {
    width: 80%;
  }

  .teste > h1 {
    text-align: center;
  }

  .teste > h1 p {
    margin: 1rem;
  }

  .form {
    margin-block-start: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  .form > h2 {
    text-align: center;
    padding: 0 2rem;
  }

  .inputs {
    height: 10rem;
  }

  .image {
    grid-area: image;
  }
}
