.container {
  background-image: url('../public/assets/images/fundo5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(70%);
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template: "title formulario" 1fr;
  padding: 2rem;
}

.title {
  grid-area: title;
}

.teste {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-block-start: 8rem;
}

.teste > h1 {
  text-align: center;
  margin-top: 7rem;
}

.formulario {
  grid-area: formulario;

  margin-block-start: 6rem;
  padding: 1rem;
}

.formulario > h2 {
  text-align: start;
  padding: 0 7rem;
}

@media (max-width: 600px) {
  .container {
    grid-template: "title" auto
                  "formulario" 1fr;

    width: 150vw;
    height: 150vh;
    background-color: #64e1f3;
    background-image: none;
    filter: opacity(100%);
    padding: 0px;
  }

  .title {
    background-color: #1a555e;
    color: #eaeaea;
  }

  .teste {
    margin-block-start: 5rem;
  }

  .teste > h1 {
    text-align: center;
    margin-block: 3rem;
  }

  .formulario {
    margin-block-start: 2rem;
  }

  .formulario > h2 {
    text-align: center;
    padding: 0 2rem;
  }

  .inputs {
    height: 10rem;
  }
}
